<h1>Create your new grocery list</h1>

List name: {{input type="text" value=content.name}}
List description: {{input type="text" value=content.description}}

<p><button {{action 'save'}}>Save list</button></p>
